<section id="about" class="animated fadeIn" style="padding: 30px 0">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="animated zoomInRight" style="color: navy"><strong>About</strong></h1>
                <hr>
                <h4 class="animated zoomInRight">Credits</h4>
                <div>Icons made by <a href="https://www.flaticon.com/authors/adib-sulthon" title="Adib Sulthon">Adib Sulthon</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
            </div>
        </div>

    </div>
</section>

